@font-face {
    font-family: "Calibri";
    src: url("Calibri.eot"); /* IE9 */
    src: url("Calibri.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("Calibri.woff") format("woff"), /* chrome, firefox */
    url("Calibri.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("Calibri.svg#Calibri") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


